APP_URL="http://localhost:8080"

DB_HOST="127.0.0.1"
DB_USER="root"
DB_PASSWORD=""
DB_DATABASE="to-do-list"
DB_PORT="3306"

JWT_SECRET_KEY=your_secret_key

PORT=8080

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=email@gmail.com
SMTP_PASSWORD=your_password_app